<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ searchParam }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="card-countries">
    <h4 *ngIf="!contriesData">We looked everywhere but couldn’t find what you’re looking for. Please try again!</h4>
    <ion-card *ngFor="let country of contriesData">
      <img alt="flag" src="{{ country.flags.png }}" />
      <ion-card-header>
        <ion-card-title>{{ country.name.official }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-button expand="block" (click)="openNews(country.name.official, country.cca2)">News</ion-button>
        <ion-button expand="block" (click)="openWeather(country.latlng[0], country.latlng[1], country.capital[0])">Weather</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>