<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ searchParam }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let country of contriesData" class="card-countries">
    <img alt="flag" src="{{ country.flags.png }}" />
    <ion-card-header>
      <ion-card-title>{{ country.name.common }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button expand="block">News</ion-button>
      <ion-button expand="block">Weather</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
