.btn-back {
    display: inline-block;
    vertical-align:bottom;
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.btn-back:hover {
    outline: 0.1rem solid #777;
    border-radius: 1rem;

}

ion-toolbar ion-title {
    display: inline-block;
}

ion-content {
    --background: none; /* Remove default background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
ion-card {
    margin: 2rem 0 0 3rem;
    max-width: fit-content;
    border: 0.5rem groove rgb(151, 114, 11);
    border-radius: 0.5rem;
}

ion-card-title {
    font-size: 2rem;
}

ion-card-subtitle {
    font-size: 1.2rem;
}