<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Weather for {{ capital }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-card>
      <img alt="Silhouette of mountains" src="https://openweathermap.org/img/wn/{{ weatherData.weather?.[0]?.icon }}@2x.png" />
      <ion-card-header>
        <ion-card-title> {{ weatherData.weather?.[0]?.description }}</ion-card-title>
        <ion-card-subtitle>{{ weatherData.main?.temp }}</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
