<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon [routerLink]="['/countries']" class="btn-back" name="arrow-back-circle-outline"></ion-icon>
    <ion-title>Weather for {{ capital }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">
  <h4 *ngIf="hidden">Weather information for {{ capital }} cannot be retrieved at the moment! Please try again later.</h4>
  <div [hidden]="hidden" >
    <ion-card>
      <img alt="Weather icon" src="https://openweathermap.org/img/wn/{{ weatherData.weather?.[0]?.icon }}@2x.png" />
      <ion-card-header>
        <ion-card-title> {{ weatherData.weather?.[0]?.description }}</ion-card-title>
        <ion-card-subtitle>Temperature: {{ weatherData.main?.temp }} {{ tempUnit }}</ion-card-subtitle>
        <ion-card-subtitle>Feels like: {{ weatherData.main?.feels_like }} {{ tempUnit }}</ion-card-subtitle>
        <ion-card-subtitle>Pressure: {{ weatherData.main?.pressure }} hPa</ion-card-subtitle>
        <ion-card-subtitle>Humidity: {{ weatherData.main?.humidity }}%</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</ion-content>
