.news-container {
    max-width: 50%;
    text-align: center;
    margin: 2rem auto;
}

.news-container ion-card {
    box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem rgb(151, 114, 11);
    margin-bottom: 1rem; 
}

.news-image {
    width: 50%;
    border: 0.3rem groove rgb(151, 114, 11); 
    margin-top: 0.5rem;
}

.news-link {
    text-decoration: none;
    width: fit-content;
    margin: auto;
    padding: 0.1rem 0.5rem;
}

.news-link:hover {
    box-shadow: 0.3rem 0.3rem 0.5rem rgb(151, 114, 11);
    outline: 0.1rem groove rgb(151, 114, 11);
    border-radius: 0.3rem;
}