<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00438839
      <ion-icon [routerLink]="['/settings']" class="title-settings" name="settings-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>s

<ion-content [fullscreen]="true">
  <div class="search-input-btn">
    <ion-input label="Enter Country: " [(ngModel)]="countrySearchParam" placeholder="Country name"></ion-input>
    <ion-button (click)="loadCountries()">Search</ion-button>
  </div>
</ion-content>
