<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-settings-radio">
    <ion-radio-group [(ngModel)]="unitSystem" (ionChange)="storeUnit()" class="settings-radio">
      <ion-radio value="metric">Metric</ion-radio><br />
      <ion-radio value="standard">Standard</ion-radio><br />
      <ion-radio value="imperial">Imperial</ion-radio><br />
    </ion-radio-group>
    <ion-button [routerLink]="['/home']">Go Back</ion-button>
</div>
</ion-content>
